<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<link rel="stylesheet" href="app.css">
<div id="game">
    <div class="top-hud">
        <div class="healthbar">
            <div class="player-name">{{ player1.name }}&nbsp;&nbsp;<img v-for="i in player1.healing" src="assets/revive_potion.png" alt="potion"></div>
            <div class="player-health">
                <div class="player-health--negative" :style="{width: (100 - player1.health) + '%'}"></div>
                <div class="player-health--text">{{ player1.health }}</div>
            </div>
        </div>
        <div class="healthbar">
            <div class="player-name">{{ player2.name }}&nbsp;&nbsp;<img v-for="i in player2.healing" src="assets/revive_potion.png" alt="potion"></div>
            <div class="player-health">
                <div class="player-health--negative" :style="{width: (100 - player2.health) + '%'}"></div>
                <div class="player-health--text">{{ player2.health }}</div>
            </div>
        </div>
    </div>
    <section v-if="!gameIsRunning">
        <button @click="startNewGame()">Start New Game</button>
    </section>
    <section v-else>
        <button @click="attackMonster()">Attack</button>
        <button @click="attackMonster(21, 50)">Special Attack</button>
        <button @click="heal(player1)" :disabled="player1.healing === 0">Heal</button>
        <button @click="quit()">Give Up</button>
    </section>
</div>
<script src="app.js"></script>